@model Purchase.ViewModels.PurchaseDetailVM

<tr>
    <td>
        <input value="@Model.Id" type="hidden" data-tag="Id" />
        <input value="@Model.ProductId" type="hidden" data-tag="ProductId" />
        <input value="@Model.MeasurementUnitId" type="hidden" data-tag="MeasurementUnitId" />
        <input value="@Model.PurchaseHeaderId" type="hidden" data-tag="PurchaseHeaderId" />
        <input value="@Model.ProductName" type="text" class="form-control-plaintext" data-tag="ProductName" readonly />
    </td>
    <td>
        <input value="@Model.Quantity" type="text" class="form-control-plaintext" data-tag="Quantity" readonly />
    </td>
    <td>
        <input value="@Model.MeasurementUnitName" type="text" class="form-control-plaintext" data-tag="MeasurementUnitName" readonly />
    </td>
    <td>
        <input value="@Model.UnitPrice" type="text" class="form-control-plaintext" data-tag="UnitPrice" readonly />
    </td>
    <td>
        <input value="@Model.TotalPrice" type="text" class="form-control-plaintext" data-tag="TotalPrice" readonly />
    </td>
    <td>
        <button type="button" class="btn btn-warning" onclick="removeMe($(this))">Remove</button>
    </td>
</tr>
